@import "reset.css";
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #F0F0F0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  padding: 10vh 0 72px 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #E7473C;
}
header h1 {
  color: #E7473C;
  font-size: 85px;
  width: 50%;
  text-transform: uppercase;
  letter-spacing: 5px;
}
header h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}
header h3, header p {
  width: 70%;
  text-align: justify;
  line-height: 1.2;
}
header p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 35px;
}
header nav {
  width: 70%;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
}
header nav ul li {
  cursor: pointer;
  margin-right: 12px;
  margin-bottom: 10px;
  font-size: 14px;
  color: black;
  opacity: 0.5;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
header nav ul li:hover {
  opacity: 1;
}

main {
  background-color: #E7473C;
  margin-left: 33%;
}
main .movie {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 5%, transparent, transparent, transparent, transparent) #E7473C;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
main .movie .wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
}
main .movie .wrapper .movie__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}
main .movie .wrapper .movie__header h4 {
  font-size: 32px;
  text-transform: uppercase;
}
main .movie .wrapper .movie__header h5 {
  letter-spacing: 1.5px;
}
main .movie img {
  width: 100%;
  box-shadow: 0 80px 80px -80px #2d0806;
}